<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
	<title>Beagle IDE</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<center>
	<img src="{{ STATIC_URL }}ide/img/404.png">
    <h4>-404-</h4>
	<p>Böyle Bir Sayfa, Belkide Hiç Olmadı, Belki Biri Sizi Kekliyo, Belki Admin Tarafından Silinmiştir, Belki Sıkıntılı Felandır, Hepsi Olabilir :)</p>
	<a href="http://www.ivmech.com"><h3>Beagleboard IDE</h3></a>
</center>
<body>
</html>
